   <nav class="menu">
      <a href="#index" class="menu-home">redziniak.pl - beta</a>
      <button data-menu-target=".menu-list" class="menu-hamburger">Menu</button>
      <ul class="menu-list" data-menu-list>
         <li class="menuElement"><a href="#about-me" class="menuElement-link menuElement-link--active">O mnie</a></li>
         <li class="menuElement"><a href="#portfolio" class="menuElement-link">Portfolio</a></li>
         <li class="menuElement"><a href="https://github.com/Sasmen?tab=repositories"
                                    class="menuElement-link">GitHub</a>
         </li>
         <li class="menuElement"><a href="#contact" class="menuElement-link">Kontakt</a></li>
      </ul>
   </nav>
